<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <% include ./users/partials/_navbar.ejs %>



    <section class="hero is-medium is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Organic Market
                </h1>
                <h2 class="subtitle">
                    E-market where you can find healthy and organic vegetables.
                </h2>
            </div>
        </div>
    </section>

    <div class="container" style="margin-top: 25px; margin-bottom: 25px;">

        <div class="columns">
            <div class="column is-3">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Tomato</p>
                                    <p class="subtitle is-6"></p>
                                </div>
                            </div>
                            <a class="button is-primary">Buy</a>
                        </div>
                    </div>
                </div>

                <div class="column is-3">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Brinjal</p>
                                        <p class="subtitle is-6"></p>
                                    </div>
                                </div>
                                <a class="button is-primary">Buy</a>
                            </div>
                        </div>
                    </div>

                    <div class="column is-3">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">Ladies F</p>
                                            <p class="subtitle is-6"></p>
                                        </div>
                                    </div>
                                    <a class="button is-primary">Buy</a>
                                </div>
                            </div>
                        </div>
        </div>

    </div>

    <% include ./partials/_footer.ejs %>

</body>

</html>