<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <% include ./partials/_navbar.ejs %>

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    New Cultivation
                </h1>
                <h2 class="subtitle">
                    Create new Cultivation
                </h2>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="content-profile columns">
            <% include ./partials/_menu.ejs %>
            <% include ./partials/_cultivation-create.ejs %>
        </div>

    </div>

    <% include ../partials/_footer.ejs %>

</body>
<script>
    var modal = document.getElementById("milestoneModal");
    openModal = function() {
        document.getElementById("milestoneModal").style.display = "block";
        
    }
    closeModal = function() {
        document.getElementById("milestoneModal").style.display = "none";        
    }
</script>
</html>